body{
background-color: blue;
margin: 0;
}
.item1, .item7, .item12{
  background-color: yellow;
}

.item2, .item9, .item10, .item13{
  background-color: red;
}
.item4,.item5,.item11 {
  background-color: #fff;
}
#grosconteneurdelamort{
display: flex;
height: 100vh;
justify-content: flex-end;
flex-direction: column;
flex-wrap: wrap;
}
.lel1{
display: flex;
flex: 1;
}
.itemflex{
border: 4px solid;
}
.item1{
  flex: 1;
}
.item2{
    flex: 3;
}
.item3{
  flex: 2;
}
.quatrecinq{
display: flex;
flex: 4;
}
.lesgauches{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.vide{
border: 4px solid;
}
.grosdroite{
  display: flex;
  flex-direction: column;
  flex: 4.85;
}
.vide1{
background-color: white;
flex: 3;
}
.vide2{
flex: 1;
}
.lel2{
display: flex;
flex: 1;
}
.item4{
  flex: 3;
}
.item5{
  flex: 1;
}
.lel3{
display: flex;
  flex: 1;
}
.item6{
  flex: 1;
}
.item7{
  flex: 2;
}
.item8{
  flex: 1.5;
}
.item9{
  flex: 1.5;
}
.item10{
  flex: 2;
}
.item11{
  flex: 1;
}

.item12{
  flex: 1.5;
}
.item13{
  flex: 1;
}
.lel4{
flex: 1;
display: flex;
flex-direction: row;
}
.lel4i1{
  display: flex;
  flex: 3
}
.lel4i2{
  display: flex;
  flex-direction: column;
  flex: 1;
}
